<h1 id="not-found" style="text-align: center; padding: 50px 0px;"></h1>
{% comment %} <div id="page-container">
  <div class="bread-crumb-container">
    <span class="bread-crumbs inline-flex items-center">
      <a href="https://client-1-which.myshopify.com/pages/navigation-microfiches">
        <i class="fa-solid fa-house"></i>
      </a>
    </span>
  </div>
</div> {% endcomment %}
<div id="products-table-container">
  <h1 id="error" style="text-align: center; padding: 40px 0px 20px 0px;">Products list</h1>
  <table class="searched-products-table">
    <thead class="theading">
      <tr id="th-row">
        <th class="bg-transparent" style="width:10%;">Year</th>
        <th class="bg-transparent" style="width:20%;">Category Moto</th>
        <th class="bg-transparent" style="width:10%;">Model</th>
        <th class="bg-transparent" style="width:10%;">Category</th>
        <th class="bg-transparent" style="width:10%;">Sub category</th>
        <th class="bg-transparent" style="width:10%;">Ref</th>
        <th class="bg-transparent" style="width:10%;">Part Number</th>
        <th class="bg-transparent" style="width:20%;">Description</th>
      </tr>
    </thead>

    <tbody></tbody>
  </table>
</div>
<script src="{{ 'search-productByRef.js' | asset_url }}"></script>
<script></script>
