<main class="microfiches-search-container">
  <div>
    <a href="https://client-1-which.myshopify.com/pages/navigation-microfiches">Browse Products</a>
  </div>
  <div>
    <a href="https://client-1-which.myshopify.com/pages/search-product-by-ref"> Search Products by Ref Id</a>
  </div>
</main>
